<application>
  <component name="MybatisBuilder.application.config">
    <option name="accessToken" value="eyJhbGciOiJIUzI1NiJ9.eyJleHAiOjE2NjU1MjExMjgsInN0YXRlIjoie1wicHJpbmNpcGFsXCI6XCJkOGFkMjQwMy1kZTkyLTQyNjAtOTJiOC0xZDRlYTQ0MmY0ZmNcIixcInNlY3JldEtleVwiOlwiNTJkMWVhMDAxNDk1NDUyNmI2MTJlMDQ2YjQwYTQzZmJcIn0ifQ._rmsaoSPMoCt5zqn4KsFphiunVqOV3oHhl_rqnSvXhY" />
    <option name="deviceId" value="d8ad2403-de92-4260-92b8-1d4ea442f4fc" />
    <option name="refreshToken" value="f61e4d4f591141e2b89e97309c3a9f94" />
  </component>
</application>