<application>
  <component name="MybatisBuilder.application.config">
    <option name="accessToken" value="refresh-at: 1667183147901" />
    <option name="deviceId" value="d8ad2403-de92-4260-92b8-1d4ea442f4fc" />
    <option name="refreshToken" value="f61e4d4f591141e2b89e97309c3a9f94" />
  </component>
</application>